name: Sync to MediaWiki

on:
  push:
    branches:
      - master

jobs:
  update-wiki:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 23

      - name: Install dependencies
        run: npm install

      - name: Run sync script
        run: node src/wiki.js
        env:
          MW_API: ${{ secrets.MW_API }}
          MW_CI_TOKEN: ${{ secrets.MW_CI_TOKEN }}
          MW_USERNAME: ${{ secrets.MW_USERNAME }}
          MW_PASSWORD: ${{ secrets.MW_PASSWORD }}
          MW_PAGE_SERIES: ${{ secrets.MW_PAGE_SERIES }}
          MW_PAGE_CONFIG: ${{ secrets.MW_PAGE_CONFIG }}
